<h1>
    While processing your request an error occured our developement team is trying to fix it soon as possible for you
</h1>
<h3>Your can reach us to ErrorFixDeveloper@gmail.com</h3>

<hr />

<div class="alert alert-danger">
    <h2>ErrorMessage</h2>
    <hr />
    <h3>@ViewBag.ErrorMessage</h3>
</div>

<div class="alert alert-danger">
    <h2>ErrorPath</h2>
    <hr />
    <h3>@ViewBag.ErrorPath</h3>
</div>

<div class="alert alert-danger">
    <h2>ErrorStackTrace</h2>
    <hr />
    <h5>@ViewBag.StackTrace</h5>
</div>